name: Build CI

on:
  push:
  pull_request:
  schedule:
    # build the main branch every Monday morning
    - cron: '17 5 * * 1'

jobs:
  build-latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [cc, clang-9, gcc-10]
    steps:
      - uses: actions/checkout@v2
      - name: autogen
        run: ./autogen.sh
      - name: compiler
        run: $CC -v
        env:
          CC: ${{ matrix.compiler }}
      - name: configure
        run: ./configure
        env:
          CC: ${{ matrix.compiler }}
      - name: make
        run: make -k
      - name: make distcheck
        run: make distcheck
